@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.greeting {
  background-color: blue;
  color: white;
  height: 330px;
  padding-top: 50px;
  text-align: center;
}

.Events {
  font-size: 2.5em;
  font-weight: normal;
}

.content {
  flex: 1;
  margin: 10px 50px;
  max-height: 550px;
  overflow-y: auto;
  box-sizing: border-box;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.column {
  float: left;
  width: 30%;
  margin: 10px
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}
/**
 * Responsive text
 */

@media screen and (max-width: 992px) {
  p, .btn, .btn_1, input, div, span, h4, sup {
    font-size: 99% !important;
  }
  .column{
    width: 100%;
  }
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  input, .btn, .btn_1 {
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
  }
  select {
    height: 34px !important;
    line-height: 34px !important;
  }
}
@media screen and (max-width: 768px) {
  p, .btn, .btn_1, input, div, span, h4, sup {
    font-size: 97% !important;
  }
  .column{
    width: 80%;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  input, .btn, .btn_1 {
    height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
  }
  select {
    height: 30px !important;
    line-height: 30px !important;
  }
}